@model List<GraniteHouse.Models.Products>

<br/><br/>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-2 font-weight-normal">
                        <label style="font-size:23px; color:steelblue">@product.Name</label>
                    </h4>
                </div>

                <img class="card-img-top img-responsive" height="250" src="@product.Image" alt="Card Image"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-item-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>$@product.Price</b>sq.ft</label>
                        </div>
                        <a asp-action="Details" asp-controller="Home" class="btn btn-success btn-outline-info" asp-route-id="@product.Id" >View Details </a>
                    </div>

                </div>
            </div>

        </div>
    }


</div>

